page_separator_width 8
page_separator_color %background%

# === CATPPUCCIN MOCHA === #
background_color           %background%

text_highlight_color       %tertiary%
visual_mark_color          %outline%

search_highlight_color     %tertiary%
link_highlight_color       %primary%
synctex_highlight_color    %tertiary%

highlight_color_a          %tertiary%
highlight_color_b          %tertiary%
highlight_color_c          %tertiary_container%
highlight_color_d          %secondary%
highlight_color_e          %primary%
highlight_color_f          %secondary_fixed%
highlight_color_g          %tertiary%

custom_background_color    %background%
custom_text_color          %on_surface%

ui_text_color              %on_surface%
ui_background_color        %surface_container%
ui_selected_text_color     %on_surface%
ui_selected_background_color %surface_container_highest%

status_bar_color           %surface_container%
status_bar_text_color      %on_surface%
